fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input,
textarea {
  color: inherit;
  font-family: 'Overpass Mono', monospace;
  font-size: 12px;
}

input[type='text'],
input[type='number'],
textarea {
  padding: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;

  &:hover {
    border-color: rgb(170, 170, 170);
  }

  &:focus {
    border-color: #1779cf;
    box-shadow: 0 0 0 0.2em rgba(23, 120, 208, 0.15);
    outline: none;
  }
}

label {
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.field-group {
  &.field-group-rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &.field-group-rows-2-col {
    .field {
      flex-basis: 46%;
      width: 46%;
    }
  }
}

.field {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  > label {
    margin-bottom: 5px;
  }

  > input[type='text'],
  > input[type='number'],
  > textarea {
    display: block;
    width: 100%;
  }

  &--inline {
    > label {
      margin-bottom: 0;
      margin-left: 5px;
    }
  }
}
