$color-charcoal-black: #3f3f3f;
$color-white: #fff;

$color-primary-blue: #1778d0;

$font-family-primary: 'Open Sans', Arial, sans-serif;
$font-family-secondary: 'Montserrat', 'Open Sans', Arial, sans-serif;
