.node-list {
  $base: &;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 40px 40px 40px 50px;

  &__node,
  &__add-node {
    background-color: rgba(255, 255, 255, .12);
    border-radius: 3px;
    color: rgba(255, 255, 255, .84);
    padding: 10px;
    text-align: center;
    transition: background-color .2s linear;

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, .24);
    }
  }

  &__node {
    cursor: default;
    position: relative;
    user-select: none;

    &:hover,
    &:focus {
      #{$base}__node-delete-button {
        opacity: 1;
      }
    }
  }

  &__node-delete-button {
    background-color: $color-white;
    border-radius: 50%;
    border: 0;
    color: rgba(0, 0, 0, .75);
    cursor: pointer;
    font-family: $font-family-secondary;
    font-size: 12px;
    font-weight: 700;
    height: 15px;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: -6px;
    top: -6px;
    text-align: center;
    transform: rotate(45deg);
    transition: opacity .2s;
    width: 15px;

    &:focus {
      opacity: 1;
    }
  }

  &__add-node {
    border: 0;
    cursor: pointer;
    font-family: $font-family-secondary;
    font-size: 20px;
    font-weight: 700;
    padding: 6px;
  }
}
